n8n
{
  "name": "Auto Event Greeting System",
  "nodes": [
    {
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "id": "2",
      "name": "Google Sheets - Get People",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [500, 300],
      "credentials": {
        "googleApi": {
          "id": "__TO_BE_ADDED__",
          "name": "Google API Credentials"
        }
      },
      "parameters": {
        "operation": "read",
        "sheetId": "YOUR_SHEET_ID",
        "range": "Sheet1!A:G"
      }
    },
    {
      "id": "3",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [750, 300],
      "parameters": {
        "batchSize": 1
      }
    },
    {
      "id": "4",
      "name": "AI - Generate Message",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 2,
      "position": [1000, 300],
      "credentials": {
        "openAiApi": {
          "id": "__TO_BE_ADDED__",
          "name": "AI Credentials"
        }
      },
      "parameters": {
        "operation": "chatCompletion",
        "model": "gpt-3.5-turbo",
        "messages": [
          {
            "role": "user",
            "content": "You are an expert at writing warm greeting messages.\nGenerate a unique message for the event: {{$json[\"event\"]}}.\n\nPerson details:\nName: {{$json[\"Name\"]}}\nRelation: {{$json[\"Relation\"]}}\nPreferred language: {{$json[\"Language\"]}}\n\nMessage Guidelines:\n- Be warm and positive\n- Mention the event\n- Add a personal touch using the person's relation\n- Keep it short (3-4 lines)\n- Do NOT repeat previous messages\n- Output only the message"
          }
        ]
      }
    },
    {
      "id": "5",
      "name": "Send Message (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [1300, 300],
      "parameters": {
        "method": "POST",
        "url": "https://YOUR_WHATSAPP_OR_EMAIL_ENDPOINT",
        "jsonParameters": true,
        "options": {},
        "body": {
          "to": "{{$json[\"Phone\"]}}",
          "message": "={{$node[\"AI - Generate Message\"].json[\"choices\"][0][\"message\"][\"content\"]}}"
        }
      }
    },
    {
      "id": "6",
      "name": "Google Sheets - Update Status",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 3,
      "position": [1550, 300],
      "credentials": {
        "googleApi": {
          "id": "__TO_BE_ADDED__",
          "name": "Google API Credentials"
        }
      },
      "parameters": {
        "operation": "update",
        "sheetId": "1Pf97BPpqFY6Biwh-O6msmoinHF1guEkKZH3Bfp8vJZY",
        "range": "Sheet1!A:G",
        "key": "Name",
        "value": "={{$json[\"Name\"]}}",
        "updateAllMatches": false,
        "data": [
          {
            "Status": "Sent",
            "Message Sent On": "={{$now}}"
          }
        ]
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Google Sheets - Get People",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Get People": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "AI - Generate Message",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "continue": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Generate Message": {
      "main": [
        [
          {
            "node": "Send Message (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message (HTTP)": {
      "main": [
        [
          {
            "node": "Google Sheets - Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
